# Replace URL with your Saleor backend. Make sure to keep the slash at the end.
NEXT_PUBLIC_SALEOR_API_URL=https://storefront1.saleor.cloud/graphql/

# make sure to add it on production for correct canonical URLs
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000

# Token used for fetching channels
SALEOR_APP_TOKEN=

# CRM Live Chat WebSocket URL
NEXT_PUBLIC_CRM_WS_URL=wss://api.yourdomain.com/ws/chat
# CRM REST API for chat history
NEXT_PUBLIC_CRM_API_URL=https://api.yourdomain.com/api/v1


